<%= form_with(model: employment, class: "contents", id: 'employment_form', data: { controller: 'employment' }) do |form| %>
  <% if employment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(employment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% employment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :employer %>
    <%= form.text_field :employer, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", 'data-employment-target': 'employer', 'data-action': 'focusout->employment#validateEmployer' %>
    <p class="text-red-500  hidden" data-employment-target='employerValidationText' >Please Enter a valid value</p>
  </div>

  <div class="my-5">
    <%= form.label :date_started %>
    <%= form.text_field :start_date, "data-provide" => 'datepicker', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :date_employment_ended %>
    <%= form.text_field :end_date, "data-provide" => 'datepicker', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<!--<script src="https://unpkg.com/flowbite@1.5.2/dist/datepicker.js"></script>-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
    });
</script>